@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html, body{
    min-height: 100%
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: none;
}

#canvas {
    min-height: 700px;
    min-width: 900px;
}

.county:hover {
    fill: #5e5e5c;
}

.county {
    fill: #8edeb3;
    stroke: #fff;
    stroke-width: 0.5;
}

#tooltip {
  text-align: left;
  padding: 16px;
  background-color: floralwhite;
  border: 1px solid black;
  border-radius: 0px 10px 0px 10px;
  width: auto;
  opacity: 0;
  color: black;
  position: absolute;
}

#title{
    font-size: 28px;
    color: black;
    text-transform: uppercase;
    margin: 20px;
}

#container{
    display: flex;
    align-items: center;
    width: 100%;
}

#update{
    color: black;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    text-align: center;
    width: 150px;
}

#description{
    
}
